name: Upload Documentation

on:
  release:
      types: [published]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'

jobs:
  release:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install sphinx sphinx-rtd-theme myst-parser
    - name: Build sphinx documentation
      run: |
        sphinx-build docs/ docs/_build/html
    - name: Upload docs
      uses: SamKirkland/FTP-Deploy-Action@2.0.0
      env:
        FTP_SERVER: ignnition.net
        FTP_USERNAME: ${{ secrets.SCP_USERNAME }}
        FTP_PASSWORD: ${{ secrets.SCP_PASSWORD }}
        PORT: 13000
        LOCAL_DIR: docs/_build/html/
        METHOD: sftp
        ARGS: --delete --transfer-all